<div class="registration-container">
    <h2>Registration</h2>
    <form [formGroup]="itemForm" (ngSubmit)="onRegister()">
        <div class="form-group">
            <label for="username">Username</label>
            <input type="text" id="username" formControlName="username" class="form-control">
        </div>
        <div class="form-group">
            <label for="password">Password</label>
            <input type="password" id="password" formControlName="password" class="form-control">
        </div>
        <div class="form-group">
            <label for="email">Email</label>
            <input type="email" id="email" formControlName="email" class="form-control">
        </div>
        <div class="form-group">
            <label for="role">Role</label>
            <select id="role" formControlName="role" class="form-control">
                <option value="null" disabled>Select Role</option>
                <option value="PATIENT">Patient</option>
                <option value="DOCTOR">Doctor</option>
                <option value="RECEPTIONIST">Receptionist</option>
            </select>
        </div>

        <div *ngIf="itemForm.get('role')?.value === 'DOCTOR'">
            <div class="form-group">
                <label for="specialty">Specialty</label>
                <input type="text" id="specialty" formControlName="specialty" class="form-control">
            </div>
            <div class="form-group">
                <label for="availability">Availability</label>
                <input type="text" id="availability" formControlName="availability" class="form-control">
            </div>
        </div>

        <button type="submit" [disabled]="itemForm.invalid" class="btn btn-primary">Register</button>
        <a routerLink="/login" class="btn btn-link">Back to Login</a>
    </form>

    <div *ngIf="showMessage" class="alert" [class.alert-success]="responseMessage.includes('successful')" [class.alert-danger]="!responseMessage.includes('successful')">
        {{ responseMessage }}
    </div>
</div>
