<div class="form-container">
  <h2>Create Appointment</h2>
  <form [formGroup]="appointmentForm" (ngSubmit)="onSubmit()">

      <div class="form-group">
          <label for="patientId">Patient:</label>
          <input type="number" id="patientId" formControlName="patientId" />
      </div>

      <div class="form-group">
          <label for="clinic">Clinic:</label>
          <select formControlName="clinic">
              <option value="">Select a Clinic</option>
              <option *ngFor="let clinic of clinics" [ngValue]="clinic">
                  {{ clinic.clinicName }}
              </option>
          </select>
      </div>

      <div class="form-group" *ngIf="availableSlots.length > 0">
          <label for="appointmentDate">Select Available Slot:</label>
          <select id="appointmentDate" formControlName="appointmentDate">
            <option value="" disabled>Select a slot</option>
            <option *ngFor="let slot of availableSlots" [value]="slot.availableDate + ' ' + slot.startTime + ':00'">
                {{slot.availableDate | date}} ({{slot.startTime}} - {{slot.endTime}})
            </option>
          </select>
          <div *ngIf="appointmentForm.controls['appointmentDate'].invalid && appointmentForm.controls['appointmentDate'].touched">
              Please select a valid slot.
          </div>
      </div>
      <div *ngIf="availableSlots.length === 0 && appointmentForm.get('clinic')?.value">
          <p style="color:red">No slots available for this clinic.</p>
      </div>

      <div class="form-group" style="display:none;">
          <label for="status">Status:</label>
          <input type="text" id="status" formControlName="status" />
      </div>

      <div class="form-group">
          <label for="purpose">Purpose:</label>
          <textarea id="purpose" formControlName="purpose"></textarea>
          <div *ngIf="appointmentForm.controls['purpose'].invalid && appointmentForm.controls['purpose'].touched">
              Purpose must be at least 5 characters long.
          </div>
      </div>

      <div class="form-actions">
          <button type="submit" [disabled]="appointmentForm.invalid">Submit</button>
      </div>
      <div class="form-footer">
          <a routerLink="/mediconnect" class="link">Dashboard</a>
      </div>
  </form>
  <div *ngIf="successMessage" class="success-message">{{ successMessage }}</div>
  <div *ngIf="errorMessage" class="error-message">{{ errorMessage }}</div>
</div>